body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

label {
	font-size:18px;
}

#main-container {
	width:1100px;
	margin:0 auto;
}

#first-container {
	margin-top:50px;
}

#second-container, #third-container {
	display:flex;
	margin-top:50px;
}

.remove-bottom-spacing {
	margin-bottom:0px;
}

.remove-top-spacing {
	margin-top:0px;
}

.division-title {
	font-size:24px;
	font-weight:bold;
	margin-bottom:0px;
}

#food-web, #levers {
	width:550px;
	margin-right:50px;
}

.organism {
	font-size:16px;
	font-weight:bold;
	width:100px;
	height:50px;
	margin:10px 15px 10px 15px;
	background-color:#E0E3E5;
	border:solid;
	border-color:#3B3B40;
	transition: all 200ms;
}

.organism:hover {
	background-color:#BBBDBF;
	border-color:black;
}

#carnivore-one.active {
	background:#FF4D45;
}

#omnivore-one.active, #omnivore-two.active {
	background:#237ECC;
}

#herbivore-one.active, #herbivore-two.active, #herbivore-three.active {
	background:#2FB23F;
}

#producer-one.active, #producer-two.active, #producer-three.active, #producer-four.active {
	background:#B2764E;
}

#levers-setup {
	display:flex;
	margin-top:25px;
}

#levers-labels {
	width:205px;
	text-align:right;
	line-height: 25px;
}

#levers-values {
	width: 35px;
	line-height: 25px;
}
