button {
    cursor: pointer;
 	font-size:16px;
}

#main-container {
	margin:100px 0px 100px 0px;
	text-align:center;
}

#layer-one, #layer-two, #layer-three, .sim-row {
	display:flex;
}

.label {
	margin-top:50px;
}

#legend {
	text-align:left;
	display:flex;
}

#x2, #x, #one {
	height:50px;
}

#model {
	display:inline-block;
	width:80%;
}

#placeholder, #m1-label, #b1-label {
	width:30px;
}

#m1-label, #b1-label, #m2-label, #b2-label, .sim-column {
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

.sim-column {
	border:solid;
}

#x2 {
	display:inline-block;
	border:solid;
	background:#FF9B92;
	width:30px;
	height:30px;
}

#x {
	border:solid;
	background:#8ACCFF;
	width:45px;
	height:15px;
}

#one {
	border:solid;
	background:#F1FFAB;
	width:20px;
	height:20px;
}