button {
    cursor: pointer;
 	font-size:16px;
}

#main-container {
	margin:100px 0px 100px 0px;
	text-align:center;
}

#layer-one, #layer-two, #layer-three, .sim-row {
	display:flex;
}

.label {
	margin-top:50px;
}

#legend {
	text-align:left;
	display:flex;
}

#legend-one {
	width:75px;
}

#legend-two {
	width: 90px;
}

#x2, #x, #one {
	height:50px;
}

#model {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width:80%;
	align-items: center;
}

#placeholder, #m1-label, #b1-label {
	width:30px;
}

#m1-label, #b1-label, #m2-label, #b2-label, .sim-column {
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

.sim-column {
	border:solid;
}

#x2 {
	display:inline-block;
	border:solid;
	background:#FF9B92;
	width:30px;
	height:30px;
}

#x {
	border:solid;
	background:#8ACCFF;
	width:45px;
	height:15px;
}

#one {
	border:solid;
	background:#F1FFAB;
	width:20px;
	height:20px;
}

#x2-n {
	display:inline-block;
	border:solid;
	background:#FF5149;
	width:30px;
	height:30px;
}

#x-n {
	border:solid;
	background:#3189CC;
	width:45px;
	height:15px;
}

#one-n {
	border:solid;
	background:#E0D051;
	width:20px;
	height:20px;
}